@import "tailwindcss";

html {
    font-family: Inter, system-ui, sans-serif;
    overflow-x: hidden;
    background-color: black;

    @apply select-none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.os-scrollbar-handle {
    --os-handle-bg: #616161;
}

a {
    @apply underline underline-offset-2;
}

.site-background {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("/background.webp") no-repeat fixed;
}

.hover-offset {
    @apply transition hover:-translate-y-0.5 hover:translate-x-0.5
}

.hover-expand {
    @apply transition hover:scale-105
}
